@import url("normalize.css");
header{
   text-align: center;
   font-family: "gambado-sans-forte", sans-serif;
   font-style: normal; 
   color:#f6efde;
   font-size: 65px;
  border-radius: 25px;
  background: #43504B;
  padding: 20px;
  width: 1463px;
  height: 100px;
}
  

h1{
  text-align:left;
  color:#f6efde;
  font-family: "gambado-sans-forte", sans-serif;
   font-style: normal; 
    font-size: 55px;
    border-radius: 25px;
  background: #D66836;
  padding: 20px;
  width: 1400px;
  height: 250px;
  padding: 20px;
  position:absolute;
  z-index: 3;
  top:80px;
}

h2{
  text-align:left;
  color:#f6efde;
  font-family: "gambado-sans-forte", sans-serif;
   font-style: normal; 
    font-size: 55px;
    border-radius: 25px;
  background: #90B1AA;
  padding: 20px;
  width: 1300px;
  height: 250px;
  padding: 20px; 
  position:absolute;
  z-index: 3;
  top:300px;
}

h3{text-align:left;
  color:#f6efde;
  font-family: "gambado-sans-forte", sans-serif;
   font-style: normal; 
    font-size: 55px;
    border-radius: 25px;
  background: #Fc9797;
  padding: 20px;
  width: 1200px;
  height: 250px;
  padding: 20px; 
  position:absolute;
  z-index: 3;
  top:500px;
}

body{
  background-color:#2B1C16;
}